.container {
  width: 350px;
  margin: 10px;
}

.listPin,
.listNotPin {
  display: none;
  margin: 0 auto;
  width: 80%;
}

.show {
  display: block;
}

.title {
  margin-left: 25px;
  font-size: 11px;
  font-weight: 500;
}


.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  width: 400px;
  min-height: 100px;
  /* margin: 5px; */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  /* z-index: 1; */
  /* background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  color: #555; */
}

.item:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.my-custom-content {
  height: 200px;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
