.item {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
}

.item:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.item:hover .btnDelete {
  opacity: 1;
}

.btnDelete {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
}

.btnDelete button {
  border: none;
  background: #fff;
  outline: none;
  cursor: pointer;
}
